$error: #ff3433;
$green: #0cb566;
$white: #ffffff;
$text: #232732;

@import 'fonts/fonts.scss';

.form {
  font-size: 0;
  margin: 0 -15px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: $text;
  &,
  & * {
    box-sizing: border-box;
  }
  &-title {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    font-weight: bold;
  }
  &-col,
  &-field {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    &__half {
      width: 50%;
    }
    &__third {
      width: 33.33333%;
    }
    &__quarter {
      width: 25%;
    }
  }
  &-field {
    padding: 10px 15px;
    &__hidden {
      display: none;
    }
    input,
    select,
    textarea,
    button {
      width: 100%;
      font-size: 14px;
      border-radius: 0;
      line-height: 1em;
      padding: 10px 10px;
      border: 2px solid black;
      background-color: #fff;
      height: 41px;
      color: black;
      &[disabled] {
        &,
        & + .form-switcher {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      &:focus {
        outline: none;
      }
    }
    select[multiple] {
      height: auto;
    }
    textarea {
      resize: none;
      height: 102px;
    }
    [type='submit'] {
      transition: all 0.3s;
      color: white;
      background-color: black;
      cursor: pointer;
      box-shadow: 0 0 0 0 black;
      &:hover {
        box-shadow: 0 0 0 2px black;
      }
    }
  }
  &-label {
    &,
    label {
      display: block;
      font-size: 14px;
      color: #000;
      margin-bottom: 5px;
    }
  }
  &-error {
    margin-top: 5px;
    color: $error;
    font-size: 14px;
  }
  &-html {
    font-size: 14px;
    &__inline {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

// checkbox/radios
.form {
  &-switcher {
    font-size: 14px;
    font-size: 14px;
    position: relative;
    padding-left: 28px;
    user-select: none;
    &-pointer {
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #000;
      transition: all 0.3s;
      transform: translateY(-50%);
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 50%;
        height: 50%;
        background-color: #000;
        border-radius: 50%;
        transition: all 0.3s;
      }
    }
    &__checked {
      .form-switcher {
        &-pointer {
          &:after {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }
    &__checkbox {
      .form-switcher {
        &-pointer {
          border-radius: 0;
          &:after {
            border-radius: 0;
            background-color: transparent;
            border-bottom: 3px solid $green;
            border-right: 3px solid $green;
            width: 25%;
            height: 50%;
            transform: translate(-50%, -200%) rotate(45deg);
          }
        }
      }
      &.form-switcher__checked {
        .form-switcher {
          &-pointer {
            &:after {
              transform: translate(-50%, -60%) rotate(45deg);
              // display: none;
            }
          }
        }
      }
    }
  }
  &-field {
    &__checkbox,
    &__radio {
      input {
        position: absolute;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &-list {
    &-item {
      display: block;
      width: 100%;
      position: relative;
      padding: 8px 0;
    }
    &__inline {
      .form-list {
        &-item {
          display: inline-block;
          vertical-align: top;
          margin-right: 10px;
          width: auto;
        }
      }
    }
  }
}

//file

.form {
  .form-field__file {
    .form-control-wrapper {
      label {
        display: block;
        position: relative;
        border: 2px dashed $green;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s;
      }
      &.drag-over:not(.form-control-wrapper__disabled) {
        .form-file {
          label {
            background-color: $green;
            border-color: #fff;
          }
          &-text {
            color: #fff;
          }
        }
      }
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
      height: 100%;
    }
  }
  &-file {
    position: relative;
    &-text {
      font-size: 14px;
      color: #000;
      transition: all 0.3s;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        margin-right: 10px;
      }
    }
  }
}

//reset

.form {
  .form-control-wrapper {
    &__with-reset {
      position: relative;
      padding-right: 35px;
    }
  }
  &-reset {
    position: absolute;
    top: 20px;
    right: 0;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-color: $green;
    border-radius: 50%;
    transition: all 0.3s;
    cursor: pointer;
    padding: 3px;
    svg {
      fill: #fff;
      width: 100%;
      height: auto;
      transition: all 0.3s;
    }
    &:hover {
      background-color: #fff;
      box-shadow: 0 0 0 2px $green;
      padding: 1px;
      transform: rotate(90deg);
      svg {
        fill: $green;
      }
    }
    &:active {
      transform: rotate(90deg) scale(0.8);
    }
  }
}

//switch

.form {
  .form-control-wrapper-inner {
    position: relative;
    &__with-button {
      .form-control {
        padding-right: 40px;
      }
    }
  }
  &-switch {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
  }
  input[disabled] + .form-switch {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.form-control-wrapper {
  &__disabled {
    cursor: not-allowed;
    .form-file {
      opacity: 0.5;
      input {
        cursor: not-allowed;
      }
    }
  }
}
@media (max-width: 768px) {
  .form-col__half,
  .form-field__half {
    width: 100%;
  }
}

.form__light {
  margin: 0 auto;
  max-width: 650px;
  a {
    color: $green;
  }
  .form {
    &-error {
      text-align: right;
    }
    &-title {
      border-bottom: 1px solid #dedede;
    }
    &-field {
      border-bottom: 1px solid #dedede;
      &:first-child {
        border-top: none;
      }
      padding: 20px 0;
      &__error {
        .form {
          &-label {
            &,
            label {
              color: #ff3433;
            }
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
      &__submit {
        .form {
          &-control-wrapper {
            display: inline-block;
            width: auto;
            input {
              background-color: $green;
              border-color: $green;
              border-radius: 5px;
              &:hover {
                box-shadow: none;
              }
            }
          }
          &-html {
            a {
              color: $green;
            }
          }
        }
      }
    }
    &-control-wrapper {
      display: inline-block;
      width: 100%;
      padding-left: 30%;
      vertical-align: middle;
    }
    &-label {
      display: inline-block;
      width: 30%;
      vertical-align: middle;
      padding-right: 10px;
      text-overflow: ellipsis;
      margin: 0;
      &-line {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & + .form-control-wrapper {
        width: 70%;
        padding-left: 0;
        input[type='submit'] {
          width: auto;
        }
      }
    }
    &-control {
      border-color: $green;
      border-width: 1px;
      border-radius: 5px;
    }
    .button {
      background: $green;
      padding: 15px 25px;
      text-decoration: none;
      border: 2px solid $green;
      color: $white;
      border-radius: 5px;
      display: inline-block;
      transition: all 0.3s;
      height: auto;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        transform: translateY(0px);
      }
      &:focus {
        outline: none;
      }
      &__ghost {
        background-color: transparent;
        color: $green;
        &:hover {
          color: $white;
          background-color: $green;
        }
      }
    }
  }
  .form {
    border-bottom: 1px solid $green;
  }
  &:last-child {
    .form {
      border-bottom: none;
    }
  }
  .form {
    .form-field__file {
      .form-control-wrapper {
        label {
          border-radius: 5px;
        }
      }
    }
    &-file {
      &__with-reset {
        .form-error {
          padding-right: 35px;
        }
      }
    }
  }
  &__edit {
    .form-field__submit {
      border-top: 1px solid #dedede;
    }
  }
}


.form__modernDark{
  background-color: #2b2a49;
  color: $white;
  margin: 0;
  .form{
    &-title{
      font-size: 0;
      text-align: left;
      padding: 40px 50px;
      border-bottom: 1px solid #1f1f2b;
      &-html,
      &-text{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        font-size: 14px;
      }
      &-text{
        font-size: 30px;
      }
      &-html{
        &__before{
          width: 100%;
        }
        &__after{
          text-align: right;
        }
      }
    }
    &-body{
      padding: 25px 50px;
    }
    &-label{
      font-size: 14px;
      font-weight: 600;
      &, & label{
        color: $white;
      }
      label{
        margin-bottom: 10px;
      }
    }
    &-field{
      padding: 0 15px;
      margin: 15px 0;
      input{
        background-color: #1e1d2f;
        border-radius: 5px;
        line-height: 1em;
        color: $white;
        font-weight: 600;
        font-size: 18px;
        padding: 20px;
        border: none;
        width: 100%;
        display: block;
        padding-right: 48px;
        height: auto;
      }
      &__submit{
        button{
          border-radius: 5px;
          color: #fff;
          background-color: #0cb566;
          text-align: center;
          font-weight: 600;
          font-size: 18px;
          line-height: 1em;
          border: none;
          width: 100%;
          display: block;
          padding: 20px;
          height: auto;
          overflow: hidden;
          position: relative;
          &:hover{
            box-shadow: none;
          }
        }
        &__loading{
          button{
            &[disabled]{
              opacity: 1;
            }
            color: transparent;
          }
        }
      }
    }
    &-spinner{
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 28px;
      height: 28px;
      margin: -14px 0 0 -14px;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      transform: scale(0);
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 3px solid $white;
        border-right-color: transparent;
        border-radius: 50%;
        margin: -3px 0 0 -3px;
      }
      &__active{
        transform: scale(1);
        visibility: visible;
        opacity: 1;
        &:after{
          animation: spin 0.6s linear infinite;
        }
      }
    }
    &-switch{
      svg{
        path{
          fill: #706d92;
        }
      }
    }
    &-switcher{
      padding-left: 40px;
      cursor: pointer;
      &-pointer{
        border: 2px solid #706d92;
        background-color: #2b2a49;
        border-radius: 3px;
        width: 26px;
        height: 26px;
        &:after{
          border-bottom: 2px solid #706d92;
          border-right: 2px solid #706d92;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}